extends ./layout.jade

block content
	- var menuLinks = {digital: 'Digital', gestao: 'Gestão', portal: 'Portal', beneficios: 'Benefícios', contato: 'Contato'}
	- var linkLogin = 'http://www.minby.com.br/login.php'

	header#headersticky.os-header(role='banner')
		.os-container
			svg
				use(xlink:href='#minBy')
			nav#menuNavHorizontal
				ul
					each v, k in menuLinks
						li
							a.linkNavega(href='##{k}')
								b #{v}

					li.isLogin
						a(href='#{linkLogin}' target='_blank')
							b Login

	#menu.menu
		.menuLista
			svg.menuLista__logo
				use(xlink:href='#minBy')
			nav#menuNav.menuLista__nav
				each v, k in menuLinks
					a.linkNavega.menuLista__item(href='##{k}')
						span #{v}
				a.isLogin.menuLista__item(href='#{linkLogin}' target='_blank')
					span Login
	#hamburguer.hamburguer(data-method='add')
			svg.hamburguer__icon
				use(xlink:href='#sort')
	include ./includes/article.jade
	include ./includes/contato.jade
	include ./includes/footer.jade				
	#obfuscator.obfuscator(data-method='remove')

block scripts
	if (isDev)
		script(async, src='node_modules/requirejs/require.js', data-main='js/app')
	else
		script(async, src='js/app.min.js?rnd=#{Math.random()}')
