article#contentInfo.contentInfo
	h1.info__title!= info.chamada
	p!= info.apresenta

	.features
		each v in info.features
			section.features__box.media
				.media__figure
					svg.icon.icon__circle
						use(xlink:href='#circle')
					svg.icon.icon__feature
						use(xlink:href='##{v.icon}')
				.media__body
					h2.features__title #{v.title}
					p.features__txt #{v.txt}

footer.footer
	.footer__phone
		svg.icon__phone
			use(xlink:href='#phone')
		span 11 3021-4500

	.footer__disclaimer
		a(href="http://dgtalstudio.com.br")
			span Mais um site espetacular feito com a
			svg.icon__dgs(preserveAspectRatio='none')
				use(xlink:href='#dgs')

	svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 50', preserveAspectRatio='none')
		polygon.tri(points='0,50 100,0 100,50')
		polygon.tri.tri--red(points='0,25 100,50 0,50')
